@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300&display=swap');

ul {
  font-family: 'Noto Sans JP', sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #203650;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
  border-right: 1px solid #bbb;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  /* background-color: #c83904 */
  background-color: #cc5300;
}

.active {
  background-color: #4CAF50;
}

.intro{
  /* display: flex */
  text-align: center;
  padding: 16px;
  align-items: center;
  height: 100%; /* Used in this example to enable scrolling */
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 8%;
}

.post{
  margin-top: 5%;
}

.rightNowBody{
  margin-top: 5%;
  margin-left: 4%;
  margin-right: 4%;
  font-family: 'Noto Sans JP', sans-serif;
}

.readMore{
  font-family: 'Noto Sans JP', sans-serif;
  color: #cc5300;
  text-decoration: underline;

}

.post{
  margin-left: 4%;
  margin-right: 4%;
  font-family: font-family: 'Noto Sans JP', sans-serif;
}

.rightNowHeader{

  font-size: 22px;
  color: #cc5300;
  text-decoration: underline;
}

.rightNowInformation{
  font-size:14px;
  color: black;
}

.intro h4{
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 30px;
  color: #cc5300;
  border-bottom: 1px solid #cc5300;

}

.intro .content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #fff5ea;
}

.intro .content .contentText{
  vertical-align: middle;
  text-align: center;
  float: left;
  margin-left: 30px;
  font-size: 14px;
  font-family: 'Noto Sans JP', sans-serif;
}

.contentText a{
  color: #203650;
}

.intro .content .picture{
  display: table-cell;
  vertical-align: middle;
  float:right;
  width: 67%;
  /* margin-right: 20px; */
  /*border-radius: 50%;
  margin-top: 20px; */
}

/* .picture img{
  width: 65%;
} */
