/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300&display=swap'); */
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=email], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}


/* Style the submit button with a specific background color etc */
button {
  background-color: #203650;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
button:hover {
  background-color: #cc5300;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.topnav ul {
  font-family: sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #203650;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.topnav{
  margin-bottom: 4%;
}

li {
  float: left;
  border-right: 1px solid #bbb;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  /* background-color: #c83904 */
  background-color: #cc5300;
}

.active {
  background-color: #4CAF50;
}

.intro{
  /* display: flex */
  text-align: center;
  padding: 16px;
  align-items: center;
  height: 100%; /* Used in this example to enable scrolling */
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 8%;
}

.post{
  margin-top: 5%;
}

.rightNowBody{
  padding-top: 1%;
  margin-left: 4%;
  margin-right: 4%;
  padding-bottom: 1%;
  font-family: sans-serif;
  border-bottom: 1px solid gray;
  position: relative;
}

.readMore{
  font-family: sans-serif;
  color: #cc5300;
  text-decoration: underline;

}

.post{
  margin-left: 4%;
  margin-right: 4%;
  font-family: font-family: sans-serif;
}

.rightNowHeader{

  font-size: 22px;
  color: #cc5300;
  text-decoration: underline;
}

.rightNowInformation{
  font-size:15px;
  color: black;
}

.intro h4{
  font-family: sans-serif;
  font-size: 30px;
  color: #cc5300;
  border-bottom: 1px solid #cc5300;

}

.intro .content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #fff5ea;
}

.intro .content .contentText{
  vertical-align: middle;
  text-align: center;
  float: left;
  margin-left: 30px;
  font-size: 14px;
  font-family: sans-serif;
}

.contentText a{
  color: #203650;
  margin-right: 6%;
  padding-right: 5%
}

.intro .content .picture{
  display: table-cell;
  vertical-align: middle;
  float:right;
  width: 100%;

  /* margin-right: 20px; */
  /*border-radius: 50%;
  margin-top: 20px; */
}

/* .picture img{
  width: 65%;
} */
